<?xml version="1.0"?>
<ruleset name="MksDdn Migrate Content">
  <description>WordPress Coding Standards for the plugin.</description>

  <file>mksddn-migrate-content</file>

  <rule ref="WordPress"/>
  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>

  <config name="testVersion" value="7.4-"/>

  <!-- no extra args -->
  <arg name="colors"/>

  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>

